<main-nav data-ui-view="nav" ng-cloak></main-nav>

<div class="container">

  <div class="row">
  <div class="col-xs-1" ng-controller="pageslideController">
    <div class="evo-space"></div>
    <a href="#/elements-library#lists" class="no-wrap">elements library</a>
  </div>
<!--   <div class="col-xs-1 breadcrumb-elements">
    <div ncy-breadcrumb></div>
  </div> -->
  <div class="evo-space-smallest"></div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <h2 class="evo-header-biggest evo-no-line">Lists</h2>
      <div class="evo-space-smallest"></div>
    </div>
<!--     <div class="evo-space-20"></div> -->
  </div>

<!-- <div class="evo-line-3"></div>

 <div class="evo-space-30"></div> -->

 <div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8">
    <p class="evo-text-intro">List sizes and styles correspond to matching text sizes and styles. Unordered lists feature custom bullets. No font color or font-family is specified.</p>
  </div>
 </div>


<div class="evo-space"></div>

<div class="evo-line-thin"></div>

 <div class="evo-space-small"></div>


  <div class="row">
    <div class="col-xs-12 col-sm-62">
      <h2 class="evo-header-bigger" id="text">evo-text</h2>
      <div class="evo-space-10"></div>
      <h2 class="evo-header" id="text">Text</h2>
      <div class="evo-space-5"></div>
      <p class="evo-text-8 evo-gray-40">Note: Automatically applied to unordered lists.</p>
      <div class="evo-space-5"></div>
    </div>
  </div>


  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(30, 29)">
        <div class="col-xs-12 col-sm-6">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(28,27)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(26,23)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(22,19)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(18,17)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(16,15)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(14,13)">
        <div class="col-xs-12 col-sm-6">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(12,11)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

    <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(10,9)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(8,7)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(6,5)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

    <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(4,3)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(2,1)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ul class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="evo-space-10"></div>


  <div class="row">
    <div class="col-xs-12 col-sm-62">
      <h2 class="evo-header" id="bullets">Bullets</h2>
      <div class="evo-space-10"></div>
    </div>
  </div>

    <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(30, 29)">
        <div class="col-xs-12 col-sm-6">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(28,27)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(26,23)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(22,19)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(18,17)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(16,15)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(14,13)">
        <div class="col-xs-12 col-sm-6">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(12,11)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

    <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(10,9)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(8,7)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(6,5)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

    <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(4,3)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(2,1)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}-bullets</div>
           <ul class="evo-text-{{ n }}-bullets"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ul>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="evo-space-10"></div>


  <div class="row">
    <div class="col-xs-12 col-sm-62">
      <h2 class="evo-header" id="numbers">Numbers</h2>
      <div class="evo-space-5"></div>
      <p class="evo-text-8 evo-gray-40">Note: Automatically applied to ordered lists.</p>
      <div class="evo-space-5"></div>
    </div>
  </div>


  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(30, 29)">
        <div class="col-xs-12 col-sm-6">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(28,27)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(26,23)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(22,19)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(18,17)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

    <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(16,15)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(14,13)">
        <div class="col-xs-12 col-sm-6">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(12,11)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

    <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(10,9)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(8,7)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(6,5)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

    <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(4,3)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>

  <div class="row" ng-controller="RangeController" \>
    <div ng-repeat="n in range(2,1)">
        <div class="col-xs-12 col-sm-6 clearfix">
          <div class='annotation'>evo-text-{{ n }}</div>
           <ol class="evo-text-{{ n }}"><li><span>gather inspiration</span></li><li><span>brainstorm ideas</span></li><li><span>sketch designs</span></li><li><span>set timeline roadmap</span></li></ol>
          <div class="evo-space-10"></div>
        </div>
    </div>
  </div>


  <h2 class="evo-header" id="lines">Lines</h2>
  <div class="evo-space-10"></div>


  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <div class='annotation'>evo-text-30-lines</div>
       <ul class="evo-text-30-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>    

    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <div class='annotation'>evo-text-29-lines</div>
       <ul class="evo-text-29-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-5" style="clear: both;">
      <div class='annotation'>evo-text-28-lines</div>
       <ul class="evo-text-28-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <div class='annotation'>evo-text-27-lines</div>
       <ul class="evo-text-27-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-5" style="clear: both;">
      <div class='annotation'>evo-text-26-lines</div>
       <ul class="evo-text-26-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <div class='annotation'>evo-text-25-lines</div>
       <ul class="evo-text-25-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-4" style="clear: both;">
      <div class='annotation'>evo-text-24-lines</div>
       <ul class="evo-text-24-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-2">
      <div class='annotation'>evo-text-23-lines</div>
       <ul class="evo-text-23-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-4" style="clear: both;">
      <div class='annotation'>evo-text-22-lines</div>
       <ul class="evo-text-22-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-2">
      <div class='annotation'>evo-text-21-lines</div>
       <ul class="evo-text-21-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-4" style="clear: both;">
      <div class='annotation'>evo-text-20-lines</div>
       <ul class="evo-text-20-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-2">
      <div class='annotation'>evo-text-19-lines</div>
       <ul class="evo-text-19-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-4" style="clear: both;">
      <div class='annotation'>evo-text-18-lines</div>
       <ul class="evo-text-18-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-4 col-sm-offset-2">
      <div class='annotation'>evo-text-17-lines</div>
       <ul class="evo-text-17-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-3" style="clear: both;">
      <div class='annotation'>evo-text-16-lines</div>
       <ul class="evo-text-16-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-3 col-sm-offset-3">
      <div class='annotation'>evo-text-15-lines</div>
       <ul class="evo-text-15-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-3" style="clear: both;">
      <div class='annotation'>evo-text-14-lines</div>
       <ul class="evo-text-14-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-3 col-sm-offset-3">
      <div class='annotation'>evo-text-13-lines</div>
       <ul class="evo-text-13-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-3" style="clear: both;">
      <div class='annotation'>evo-text-12-lines</div>
       <ul class="evo-text-12-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-3 col-sm-offset-3">
      <div class='annotation'>evo-text-11-lines</div>
       <ul class="evo-text-11-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-3" style="clear: both;">
      <div class='annotation'>evo-text-10-lines</div>
       <ul class="evo-text-10-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-3 col-sm-offset-3">
      <div class='annotation'>evo-text-9-lines</div>
       <ul class="evo-text-9-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-2" style="clear: both;">
      <div class='annotation'>evo-text-8-lines</div>
       <ul class="evo-text-8-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-2 col-sm-offset-4">
      <div class='annotation'>evo-text-7-lines</div>
       <ul class="evo-text-7-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-2" style="clear: both;">
      <div class='annotation'>evo-text-6-lines</div>
       <ul class="evo-text-6-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-2 col-sm-offset-4">
      <div class='annotation'>evo-text-5-lines</div>
       <ul class="evo-text-5-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-2" style="clear: both;">
      <div class='annotation'>evo-text-4-lines</div>
       <ul class="evo-text-4-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-2 col-sm-offset-4">
      <div class='annotation'>evo-text-3-lines</div>
       <ul class="evo-text-3-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-2" style="clear: both;">
      <div class='annotation'>evo-text-2-lines</div>
       <ul class="evo-text-2-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
    <div class="evo-space-10"></div>
    </div>

    <div class="col-xs-12 col-sm-2 col-sm-offset-4">
      <div class='annotation'>evo-text-1-lines</div>
       <ul class="evo-text-1-lines">
        <li><span>gather inspiration</span></li>
        <li><span>brainstorm ideas</span></li>
        <li><span>sketch designs</span></li>
        <li><span>set timeline roadmap</span></li>
      </ul>
      <div class="evo-space-10"></div>
    </div>

    <div class="evo-space-10"></div>

  </div>


  <div class="evo-space-biggest"></div>
  <back-top scroll-speed=1600></back-top>
  </div>


</div> <!-- container -->