<main-nav data-ui-view="nav" ng-cloak></main-nav>

<div class="container" ng-controller="pageslideController">

<div class="evo-space-15"></div>

<div class="row">
  <div class="col-xs-12">
    <h2 class="evo-header-biggest evo-no-line">Elements</h2>
    <div class="evo-space-smallest"></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8">
    <p class="evo-text-intro">A comprehensive repository of all Evolution elements. Browse, copy code snippets, and start evolving your website from idea to finished product.</p>
    <div class="evo-space-smaller"></div>
  </div>
</div>


 <div class="row">
  <div class="col-xs-12">
    <a class="evo-icon-biggest evo-icon-circle-chevron-right-book" ui-sref="rapid-ui-toolkit" href="javascript: void(0);" style="margin-left: -5px;"><p class="evo-text no-wrap" style="margin-left: 25px; margin-top: -1px;">Rapid UI Toolkit</p></a>
  </div>
 </div>


  <div class="row">
    <div class="col-xs-12">
      <div class="evo-space-big"></div>
      <div class="evo-subheader" id="fonts">Library</div>
      <div class="evo-space"></div>
    </div>
  </div>


<section class="row">

<!-- ********************* -->
<!--         FONTS         -->
<!-- ********************* -->
  
<div class="col-xs-12 col-md-3 col-lg-3">
  <div class="evo-space-bigger"></div>
  <img src="../img/elements_images/elements-fonts.svg" style="width:75%; height:auto;">
    <div class="evo-space"></div>
  <div class="evo-header" id="fonts">Fonts</div>
  <div class="evo-space-smaller"></div>
   <ul class="evo-text">
    <li><a ui-sref="font-families" href="javascript: void(0);">Font Families</a></li>     
    <li><a ui-sref="headers" href="javascript: void(0);">Headers</a></li>
    <li><a ui-sref="text" href="javascript: void(0);">Text Paragraphs</a></li>
   </ul>
</div>


<!-- ********************* -->
<!--        COLORS         -->
<!-- ********************* -->

<div class="col-xs-12 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
  <div class="evo-space-bigger"></div>
  <img src="../img/elements_images/elements-colors.svg" style="width:75%; height:auto;">
  <div class="evo-space"></div>
  <div class="evo-header" id="colors">Colors</div>
  <div class="evo-space-smaller"></div>
   <ul class="evo-text">    
    <li><a href="#/colors#evo-cmy" ng-click="linkTo('evo-cmy')">CMY Colors</a></li>
    <li><a href="#/colors#evo-gray" ng-click="linkTo('evo-gray')">Gray Solid</a></li>
    <li><a href="#/colors#evo-gray" ng-click="linkTo('evo-gray')">Gray Dark Translucent</a></li>
    <li><a href="#/colors#evo-gray" ng-click="linkTo('evo-gray')">Gray Light Translucent</a></li>    
  </ul>
</div>

<!-- ********************* -->
<!--        INPUTS         -->
<!-- ********************* -->
  
<div class="col-xs-12 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
  <div class="evo-space-bigger"></div>
  <img src="../img/elements_images/elements-inputs.svg" style="width:75%; height:auto;">
  <div class="evo-space"></div>
  <div class="evo-header" id="inputs">Inputs</div>
  <div class="evo-space-smaller"></div>
   <ul class="evo-text">
    <!-- <li><a ui-sref="icons" href="javascript: void(0);">Icons</a></li>  -->
    <li><a ui-sref="buttons" href="javascript: void(0);">Buttons</a></li>
    <li><a ui-sref="forms" href="javascript: void(0);">Forms</a></li>
   </ul>
</div>

</section>

<section class="row">


<!-- ********************* -->
<!--         LISTS         -->
<!-- ********************* -->

<div class="col-xs-12 col-md-3 col-lg-3">
  <div class="evo-space-bigger"></div>
  <img src="../img/elements_images/elements-lists.svg" style="width:75%; height:auto;" >
  <div class="evo-space"></div>
  <div class="evo-header" id="lists">Lists</div>
  <div class="evo-space-smaller"></div>
   <ul class="evo-text">
    <li><a href="#/lists#text" ng-click="linkTo('text')">Text</a></li>     
    <li><a href="#/lists#bullets" ng-click="linkTo('bullets')">Bullets</a></li>
    <li><a href="#/lists#numbers" ng-click="linkTo('numbers')">Numbers</a></li>
    <li><a href="#/lists#lines" ng-click="linkTo('lines')">Lines</a></li>
   </ul>
</div>


<!-- ********************* -->
<!--        IMAGES         -->
<!-- ********************* -->

<div class="col-xs-12 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
  <div class="evo-space-bigger"></div>
  <img src="../img/elements_images/elements-images.svg" style="width:75%; height:auto;">
  <div class="evo-space"></div>
  <div class="evo-header" id="images">Images</div>
  <div class="evo-space-smaller"></div>
   <ul class="evo-text">
    <li><a href="#/images#equal" ng-click="linkTo('equal')">Equal</a></li>     
    <li><a href="#/images#wide" ng-click="linkTo('wide')">Wide</a></li>
    <li><a href="#/images#tall" ng-click="linkTo('tall')">Tall</a></li>
   </ul>
</div>


<!-- ********************* -->
<!--        LAYOUT         -->
<!-- ********************* -->

<div class="col-xs-12 col-md-3 col-md-offset-1 col-lg-3 col-lg-offset-1">
  <div class="evo-space-bigger"></div>
  <img src="../img/elements_images/elements-layout.svg" style="width:75%; height:auto;">
  <div class="evo-space"></div>
  <div class="evo-header" id="layout">Layout</div>
  <div class="evo-space-smaller"></div>
   <ul class="evo-text">
    <li><a ui-sref="spacers" href="javascript: void(0);">Spacers</a></li>     
    <li><a href="#/lines#lines" ng-click="linkTo('lines')">Lines</a></li>
    <li><a href="#/lines#borders" ng-click="linkTo('borders')">Borders</a></li>
    <li><a href="#/lines#boxes" ng-click="linkTo('boxes')">Boxes</a></li>
   </ul>
</div>

</section>

<div class="row">
  <div class="col-xs-12">
    <div class="evo-space-biggest"></div>
  </div>
</div>

</div> <!-- pageslideController -->